<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apz_lab4">

    <!-- Дозвіл на використання Інтернету -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:label="Incubator App"
        android:supportsRtl="true"
        android:theme="@style/Theme.APZ_lab4">

        <!-- Стартова активність -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.AlertsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ResultsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.AddDeviceActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.AlertStatsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.DeviceDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".ui.ProfileActivity" />

        <activity android:name=".ui.SettingsActivity" />

    </application>

</manifest>
